/*! HTML5 Boilerplate v5.3.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body{
    background: #2E5E79;
}
.main{
    width: 1320px;
    min-height: 667px;
    height: auto;
    margin: 0 auto;
}
.header{
    width: 1320px;
    height: 80px;
    background: #214562;
}
.header .h_left{
    width: 460px;
    height: 80px; 
    float: left;
}
.header .h_img2{
    float: left;
    height: 80px;
    width:auto;
}
.header .h_txt{
    float: left;
    font-size: 30px;
    margin-top: 10px;
    display: block;
    text-align: center;
    color:#ffffff;

}
.header .h_txt2{
    float: left;
    font-size: 18px;
    text-align: center;
    color:#ffffff;

}
.header .h_right{
    width:500px;
    float: right;
    padding-left: 290px;
    height: 80px;
    padding-top: 30px;
    
}

.h_right a:hover{
    text-decoration: none;
    color: #000000 !important;
}
.menu{
     height: 50px;
     width: 1320px;
     padding-left: 10px;
     border-bottom:2px solid #3D3D3A;
     margin: 10px 0px 10px 0px;
     background: #214562;
}
.menu ul,.sl_body ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
.menu ul li{
    display: inline-block;
}
.menu ul li a{
    color: #ffffff;
    display: block;
    padding-top: 8px;
    font-size: 16px;
    padding-right: 20px;
}
.menu ul li a:hover{
    color: #000000;
    text-decoration: none;
}

.sidebar_left{
    width: 200px;
    min-height: 1100px;
    height: auto;
    background: #D0DFE5;
    float: left;
}
.sl_title{
    height: 30px;
    width: 200px;
    background: #F1F7FC;
    padding-top: 5px;
    padding-left: 20px;
    font-size: 16px;
    color: #436F9B;
    font-weight: bold;
    border-bottom: 3px solid #E0E5E7;
}
.sl_body {
    width: 200px;
}
.panel-heading a:hover,.panel-heading a:focus {
    text-decoration: none;
}
.sl_body ul li{
    width: 200px;
    background: #F5F5F5;
    border-bottom:1px dotted red;
   
} 
.sl_body ul li a{
     padding-left: 20px;
     height: 30px;
    text-decoration: none;
    display: block;
}
.sl_body ul li a:hover{
    background: #E5F0F4;
    text-decoration: none!important;
   
}
.sidebar_right{
    width: 1110px;
    min-height:960px;
    height:1180px;
    margin-left:10px; 
    border-radius: 10px;
    background: #FFFFFF;
    float: left;
}
.sidebar_right .sr_title{
    height: 40px;
    width: 1110px;
    border-radius: 10px;
    border-bottom:3px solid #E0E5E7;
    padding: 10px;
    color: #436F9B;
    font-weight: bold;
    font-size: 18px;
    background: #E5F0F4;
}
.sr_table{
    width: 1090px;
    height: auto; 
    min-height: 570px;
    margin: 0 auto;
}
.footer{
    width: 1320px;
    clear: both;
    height: 50px;
    background: #204461;
}
.f_txt{
    font-size: 16px;
    float: left;
    height:50px;
    width: 500px;
    padding: 20px;
    color: #ffffff;
}
.f_txt a{transition: all 0.9s;}
.f_txt a:hover{
    text-decoration: none;
    font-size: 18px;
}
.sr_table2{  width:760px; height:500px; margin:40px 20px 20px 20px; border-radius:5px;}
#form{ width:40%; margin-left:10px; resize:none;}
input[type="search"] {
    margin: 5px 10px 0px 0px;
    -webkit-appearance: textfield;
    box-sizing: content-box;
}
select,textarea {
    color: inherit;
    font: inherit;
    margin-left: 4px;
    padding-top: 6px!important;
    margin-top: 9px;
    background-color: white;
}

.cke_contents {
    height: 157px!important;
}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after,
    *:first-letter,
    *:first-line {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
